body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    scroll-behavior: smooth;
}

header {
    background: #444;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav button {
    display: none;
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

section {
    padding: 20px;
    margin: 0 15px;
    animation: fadeIn 2s;
}

footer {
    text-align: center;
    padding: 20px;
    background: #444;
    color: #fff;
}

@media screen and (max-width: 600px) {
    header nav ul {
        display: none;
    }
    nav button {
        display: block;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
